body {
    background:"assests\images\legend-of-zelda-background.jpg";
}

#num,
#matchNum,
#win,
#lose,
#scrBrd {
    font-size: 40px;
}

#rule-col {
    line-height: 200%;
}

#bldgNum {
    font-size: 40px;
    font-weight: bold;
}